canvas
{
    border: 1px solid black;
} 

*
{
    font-family: 'Oswald', sans-serif;
}

body
{
 background-color: darkblue;
}
#amplitude, #freq
{
    position:relative; 
    top: 7px;
} 

#container
{
    margin: 0px auto;
    position: absolute;
    width: auto;
    padding: 10px;
    display:block;
    left: 50vh;
    right: 50vh;
    text-align: center;
    background-color: white;

    border-radius: 10px;
    box-shadow: 9px 9px ;
}

#ampLabel, #freqLabel
{
    position: relative;
}
#bigTitle
{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 9px 9px black;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

#canvas
{
    z-index: 0;
}

#canvas2 
{
    z-index: 1;
    position: absolute;
}

.canvasStyle
{
    left: 0; 
    top: 0;
    margin:auto;
}

#canvasDiv, #gradCon, #ampCon, #fCon, #gradForm
{
    display: inline-block;
    position: relative;
    
}

#controls
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    
}